.login {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  height: 100%;
  gap: 1em;
  padding: 0 2em;
}

form {
  display: grid;
  gap: 0.5em;
}

.mat-form-field {
  width: 100%;
}