<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    Toolbar Title
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-list>
        <mat-list-item matRipple> Pepper </mat-list-item>
        <mat-list-item matRipple> Salt </mat-list-item>
        <mat-list-item matRipple> Paprika </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
      <p>Events:</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


