<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="navigate()"><mat-icon>{{icon}}</mat-icon></button>
    Telescam
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-image" [style.background-image]="'url(\'assets/img/mate.jpg\')'"></div>
          <mat-card-title>Mateusz Budzisz</mat-card-title>
          <mat-card-subtitle [style.margin-bottom]="'0px'">Student in his spare time.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-list class="menu">
        <mat-list-item matRipple routerLink="/login"><mat-icon>logout</mat-icon>Logout</mat-list-item>
        <mat-list-item matRipple routerLink="/settings"><mat-icon>settings</mat-icon>Settings</mat-list-item>
        <mat-list-item matRipple routerLink="/friends"><mat-icon>people</mat-icon>Friends</mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


