<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    Telescam
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="card-image" [style.background-image]="''"></div>
          <mat-card-title>Mateusz Budzisz</mat-card-title>
          <mat-card-subtitle>Student in his spare time.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list class="menu">
        <mat-list-item matRipple><mat-icon>logout</mat-icon>Logout</mat-list-item>
        <mat-list-item matRipple><mat-icon>settings</mat-icon>Settings</mat-list-item>
        <mat-list-item matRipple><mat-icon>people</mat-icon>Friends</mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let user of users" [value]="user.id">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="card-image" [style.background-image]="user.img"></div>
              <mat-card-title>{{ user.name }}</mat-card-title>
              <mat-card-subtitle>
                <div class="message">{{ user.text }}</div>
                <div class="time">{{ user.time }}</div>
                <mat-icon [color]="user.color">{{ user.icon }}</mat-icon>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-list-option>
      </mat-selection-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


